body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.GREEN {
  background-color: green;
}

.ORANGE {
  background-color: orange;
}

.RED {
  background-color: red;
}
